@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #5C5C5C;
  --border-color: #e0e0e0; 
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --border-color: #242323; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bordered {
  border: 1px solid var(--border-color);
}

/* Hide scrollbar but allow scrolling */
html, body, .site-wrapper {
  -ms-overflow-style: none;    /* IE 10+ */
  scrollbar-width: none;       /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.site-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
